<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.StudentMapper">
  <resultMap id="studentResultMap" type="entry.Student">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="sal" jdbcType="DOUBLE" property="sal" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, sal
  </sql>
  <select id="queryAll" resultMap="studentResultMap">
     select 
     <include refid="Base_Column_List"/>
     from student 
     
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="studentResultMap">
    select 
    <include refid="Base_Column_List" />
    from student
    where id = #{id,jdbcType=INTEGER}
  </select>
  
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from student
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="entry.Student">
    insert into student (id, name, sal)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{sal,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="entry.Student">
    insert into student
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="sal != null">
        sal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="sal != null">
        #{sal,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="entry.Student">
    update student
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="sal != null">
        sal = #{sal,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="entry.Student">
    update student
    set name = #{name,jdbcType=VARCHAR},
      sal = #{sal,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>